!!! xml
!!! 1.1
%html{ :xmlns => 'http://www.w3.org/1999/xhtml', :'xml:lang' => 'en-us', :lang => 'en-us' }
  %head
    %title Fora flora
    %meta{ :'http-equiv' => 'Content-Type', :content => 'application/xhtml+xml;charset=utf-8' }/
    %link{ :rel => 'stylesheet', :href => '/stylesheets/master.css', :type => 'text/css;charset=utf-8', :media => 'screen' }/
  %body
    = catch_content :for_layout