%h1 test area
%div.abbr{:style => 'border: 5px solid black; padding: .5em; margin: .5em; font-size: 250%'}
  %abbr{:title => 'HyperText Markup Language'} Html
  %abbr{:title => 'Cascading Style Sheets'} CSS
  %abbr{:title => 'Audio/Video eXpress Workshop'} avxw